.service-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background: var(--clr-grey-10);
    padding: 70px;
    align-items: center;

    .service-section {
        display: flex;
        justify-content: space-between;
        font-size: 1.7rem;
        margin: 20px 0px;
        text-transform: uppercase;

        .us-name-title {
            color: var(--clr-primary-5);
        }

        h1 {
            margin: 0px 6px;
            letter-spacing: var(--spacing);
        }


    }

    .service-details-container {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;

        // .border-container {
        //     border: 10px solid var(--clr-primary-5);
        //     height: 100%;
        //     width: 100%;
        //     background: transparent;
        // }



        .explore-details {
            margin-left: 30px;

            h4 {
                font-size: 2rem;
                letter-spacing: 3px;
                text-transform: uppercase;
            }

            p {
                margin: 10px 0px;
                color: hsl(210, 22%, 49%);
                letter-spacing: 1px;
            }

            button {
                &:hover {
                    color: var(--clr-primary-1);
                    background: var(--clr-primary-8);
                }
            }
        }
    }
}

@media screen and (max-width: 786px) {
    .service-container {
        .service-details-container {
            flex-direction: column;
        }
    }
}